:root {
  --Theme-color: #0067c0;
  --Background-color: #ffffff;
  --Text-color: #000000;
  --Text2-color: #ffffff;
  --Theme-Switch-color: #575757;
  --Theme-Background-color: #fbfbfc;
  --Theme-Background-color2:#FFFFFF;
  --Theme-Background-color3:#F3F3F3;
  --Theme-Border-color: #e5e5e5;;
  --Theme-Background-color-disabled : rgb(240, 240, 240);
  --Display-Dark: none;
  --Display-Light: '';
  --Message-Shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  --Menu-Shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
  color-scheme: light;
}
html[data-theme='dark'] {
  --Theme-color: #25D9E6;
  --Background-color: #0E151A;
  --Text-color: #ffffff;
  --Text2-color: #000000;
  --Theme-Switch-color: #CCCCCC;
  --Theme-Background-color: #313131;  
  --Theme-Background-color2:#2B2B2B;
  --Theme-Background-color3:#202020;
  --Theme-Border-color: #3B3B3B;
  --Theme-Background-color-disabled :rgb(39, 39, 39);
  --Display-Dark: '';
  --Display-Light: none;
  color-scheme: dark;
}
h1,h2,h3,h4,h5,h6,p{
	color: var(--Text-color);
}
body {
  transition: background-color 0.2s linear;
}
@font-face {
  font-family: 'Segoe Fluent Icons';  /* 自定义字体名称 */
  src: url('/SegoeIcons.ttf');  /* 外部字体文件路径 */
}