@import "color.css";

Expander {
    overflow: hidden;
    position: relative;
}

.Expander-input {
    display: none;
}

.Expander-label {
    display: block;
    background-color: var(--Theme-Background-color);
    border-radius: var(--SmallBorderRadius);
    border: 1px solid var(--Theme-Border-color);
    padding: 12px 32px 12px 16px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
}

.Expander-label:hover {
    background-color: var(--Theme-Background-color);
}

.Expander-label:focus {
    outline: 2px solid var(--Theme-Background-color);
    outline-offset: 2px;
}

.Expander-label::after {
    content: "\E70D";
    display: flex;
    font-family: 'Segoe Fluent Icons';
    position: absolute;
    height: 32px;
    width: 32px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: var(--SmallBorderRadius);
    align-items: center;
    justify-content: center;
}

.Expander-label:hover::after {
    background-color: rgb(from var(--Theme-Background-color) calc(r * 0.95) calc(g * 0.95) calc(b * 0.95) / alpha)!important;
}

html[data-theme='dark'] .Expander-label:hover::after {
    background-color: rgb(from var(--Theme-Background-color) calc(r * 1.2) calc(g * 1.2) calc(b * 1.2) / alpha)!important;
}

.Expander-label:active::after{
    opacity: 0.8;
}

.Expander-input:checked + .Expander-label::after {
    /*transform: translateY(-50%) rotate(180deg);*/
    content: "\E70E";
}

.Expander-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    transition: 
        max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.3s ease,
        border-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: var(--Theme-Background-color);
    border-radius: var(--SmallBorderRadius);
    border: 1px solid var(--Theme-Border-color);
    border-width: 0; /* 默认无边框 */
}

.Expander-input:checked ~ .Expander-content {
    max-height: 100px;
    padding: 0 16px 16px;
    border-width: 1px; /* 展开时显示边框 */
}
