@import "color.css";

.tabs {
  position: relative;
  width: 100%;
  height: calc(100vh - 105px);
  top: -25px;
  user-select:none;
}
.tab-pane {
  display: inline-block;
}
.tabs input[type="radio"] {

  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.tab-item {
  display: block;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  border-radius: 8px;
  color: var(--Text-color);

}

.tab-item:hover  {
  opacity: 0.8;
}
.tab-item:active {
  opacity: 0.7;
}
.tab-item::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 30%;
  background: var(--Theme-color);
  left: 35%;
  bottom: 0px;
  transition: 0.2s;
  transform: scaleX(0);
}

.tabs input[type="radio"]:checked + .tab-item:after {
  transform: scaleX(1);
}

.tab-content {
  position: absolute;
  border-radius: 8px;
  padding: 8px;
  left: -2px;
  top: 42px;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  opacity: 0;
  color: var(--Text-color);
}

.tabs input[type="radio"]:checked + .tab-item + .tab-content {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
}
h3 {
  font-size:20px;
  float: left;
  display: inline-block;
  margin-left: 8px;
}
h5 {
  float: left;
  display: inline-block;
  margin-left: 16px;
}
h4 {
  margin-left: 8px;
}
h4,h5 {
  font-size:15px;
  margin-top: 8px;
}

p,h3,h5,h4 {
  font-weight:normal;
}
